<li class="item flexrow" data-item-uuid="{{uuid}}">
  <div class="item-img" data-drag="true">
    {{#if (settings "gfv1" "showItemImages")}}
      <img src="{{item.img}}" title="{{item.name}}" />
    {{else}}
      <i class="fas fa-bars"></i>
    {{/if}}
  </div>

  <div class="item-name">
    <input
      type="text"
      class="item-input"
      value="{{item.name}}"
      name="item.name"
      {{disabled (not editable)}}
    />
  </div>

  <div class="item-props flexrow">
    {{#each properties as |prop|}}
      {{render prop}}
    {{/each}}
  </div>

  <div class="item-controls">
    {{#each controls as |control|}}
      {{render control}}
    {{/each}}
  </div>
</li>
