<section class="playbook">
  <input
    type="text"
    name="playbook.name"
    value="{{name}}"
    placeholder="playbook name"
    {{disabled locked}}
    {{disabled (not editable)}}
  />
  {{render rules}}
  {{render assets max=maxAssets}}
</section>
