<section class="playbook">
  <input
    type="text"
    name="playbook.name"
    value="{{name}}"
    placeholder="playbook name"
    {{disabled locked}}
    {{disabled (not editable)}}
  />
  <div class="item-list-group">
    {{render rules}}
    {{render assets max=maxAssets}}
  </div>
</section>
