<ul>
  {{#each items as |item id|}}
    <li>
      <input
        type="checkbox"
        name="checkbox-{{id}}"
        value="{{id}}"
        {{checked @root/preSelected}}
      />
      <label for="checkbox-{{id}}">
        {{item.name}}
      </label>
    </li>
  {{/each}}
</ul>
