<section>
  <ol class="items-list">
    <li class="flexrow items-header">
      <div class="item-img">
      </div>
      <div class="item-name">
        {{localize "GFv1.item.rule.type"}}
      </div>
      <div class="item-props">{{localize "GFv1.item.rule.locked"}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          data-action="createDoc"
          data-type="rule"
          data-name="new rule"
          data-system.playbook-type="{{playbook.playbookType}}"
          data-tooltip="{{localize 'DOCUMENT.New' type="rule"}}"
        >
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each playbook.rules as |item id|}}
      <li class="item flexrow" data-item-uuid="{{item.uuid}}">
        <div class="item-img" data-drag="true">
          {{#if (settings "gfv1" "showItemImages")}}
            <img src="{{item.img}}" title="{{item.name}}" />
          {{/if}}
        </div>
        <div class="item-name">
          <input
            type="text"
            class="item-input"
            value="{{item.name}}"
            name="item.name"
          />
        </div>
        <div class="item-props">
          <input
            type="checkbox"
            class="item-input"
            name="item.system.locked"
            {{checked system.locked}}
          />
        </div>
        <div class="item-controls">
          {{#if item.system.play}}
            <a
              class="item-control item-roll"
              data-tooltip="{{localize 'GFv1.item.rule.roll'}}"
              data-action="roll"
            >
              <i class="fas fa-dice"></i>
            </a>
          {{/if}}
          <a
            class="item-control item-edit"
            data-tooltip="{{localize 'GFv1.item.rule.edit'}}"
            data-action="viewDoc"
          >
            <i class="fas fa-edit"></i>
          </a>
          <a
            class="item-control item-delete"
            data-tooltip="{{localize 'GFv1.item.rule.delete'}}"
            data-action="deleteDoc"
          >
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </ol>
</section>
