<section>
  <ol class="items-list">
    <li class="flexrow items-header">
      <div class="item-img">
      </div>
      <div class="item-name">
        {{localize "GFv1.item.tag.type"}}
      </div>
      <div class="item-props">{{localize "GFv1.item.tag.marked"}}</div>
      <div class="item-controls">
        <a
          class="item-control item-create"
          data-action="createDoc"
          data-type="tag"
          data-name="new tag"
          data-tooltip="{{localize 'DOCUMENT.New' type="tag"}}"
        >
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{#each tags as |item id|}}
      <li class="item flexrow" data-item-uuid="{{item.uuid}}">
        <div class="item-img">
          {{#if (settings "gfv1" "showItemImages")}}
            <img src="{{item.img}}" title="{{item.name}}" />
          {{/if}}
        </div>
        <div class="item-name">
          <input
            type="text"
            class="item-input"
            value="{{item.name}}"
            name="item.name"
          />
        </div>
        <div class="item-props">
          <input
            type="checkbox"
            class="item-input"
            name="item.system.marked"
            {{checked system.marked}}
          />
        </div>
        <div class="item-controls">
          <a
            class="item-control item-edit"
            data-tooltip="{{localize 'GFv1.item.tag.edit'}}"
            data-action="viewDoc"
          >
            <i class="fas fa-edit"></i>
          </a>
          <a
            class="item-control item-promote"
            data-tooltip="{{localize 'GFv1.item.tag.accept'}}"
            data-action="adoptTag"
            data-type="identity"
            data-marked="false"
          >
            <i class="fas fa-star"></i>
          </a>
          <a
            class="item-control item-delete"
            data-tooltip="{{localize 'GFv1.item.tag.delete'}}"
            data-action="deleteDoc"
          >
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{/each}}
  </ol>
</section>
