<section
  class="tab sheet-body {{tab.active}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <div class="item-list-group">
    {{render identities max=4}}
    {{render tags}}
    {{render bonds}}
  </div>
</section>
