<header class="sheet-header">
  <img
    class="profile-img"
    src="{{actor.img}}"
    data-edit="img"
    data-action="editImage"
    title="{{actor.name}}"
  />
  <div class="header-fields">
    <div>
      <label>{{localize (concat "GFv1.actor." actor.type ".name")}}</label>
      {{formInput fields.name value=actor.name disabled=(not editable)}}
    </div>
    {{#if (defined system.pronouns)}}
      <div>
        <label>{{localize "GFv1.actor.pronouns"}}</label>
        {{formInput
          systemFields.pronouns
          value=system.pronouns
          disabled=(not editable)
        }}
      </div>
    {{/if}}
  </div>
</header>
