<section class="item-description">
  <label>{{localize "GFv1.item.description"}}</label>
  <prose-mirror
    class="item-description-editor"
    name="system.description"
    data-document-u-u-i-d="{{item.uuid}}"
    value="{{system.description}}"
    toggled="true"
    {{disabled (not editable)}}
  >
    {{{enrichedDescription}}}
  </prose-mirror>
</section>
