<header class="sheet-header">
  <img
    class="profile-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="editImage"
    title="{{item.name}}"
  />
  <div class="header-fields">
    <div>
      <label>{{localize "GFv1.item.name"}}</label>
      {{formInput fields.name value=item.name disabled=(not editable)}}
    </div>
    {{#if system.playbookType}}
      <label>{{localize
          (concat "GFv1.item." item.type ".playbookType")
        }}</label>
      {{formInput
        systemFields.playbookType
        value=system.playbookType
        localize=true
        disabled=(not editable)
      }}
    {{/if}}
  </div>
</header>
