<section>
  <label>{{localize "GFv1.item.rule.locked"}}</label>
  <input type="checkbox" name="system.locked" {{checked system.locked}} />
  <label>{{localize "GFv1.item.rule.play"}}</label>
  <input type="checkbox" name="system.play" {{checked system.play}} />
  {{#if (eq system.play true)}}
    <label>{{localize "GFv1.item.rule.heat"}}</label>
    <input type="checkbox" name="system.heat" {{checked system.heat}} />
    <div class="play-fields">
      <div>
        <label>{{localize "GFv1.item.rule.med"}}</label>
        <input type="text" name="system.med" value="{{system.med}}" />
      </div>
      <div>
        <label>{{localize "GFv1.item.rule.high"}}</label>
        <input type="text" name="system.high" value="{{system.high}}" />
      </div>
      <div>
        <label>{{localize "GFv1.item.rule.low"}}</label>
        <input type="text" name="system.low" value="{{system.low}}" />
      </div>
    </div>
  {{/if}}
</section>
